# Секретные ключи (НИКОГДА не удаляй эту строчку)
.env

# Базы данных и логи (они создаются сами при работе)
*.db
*.log
jobsonar.db

# Виртуальное окружение
venv/
env/
.idea/
.vscode/

# Системный мусор Python
__pycache__/
*.pyc