[Unit]
Description=JobSonar Monitor Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/JobSonar
ExecStart=/usr/bin/python3 -u monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
